.tasks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tasks__item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border-bottom: 3px solid #f4f4f4;
  color: #222;
}

.tasks__item--hidden {
  display: none;
}

.tasks__taskDone {
  text-decoration: line-through;
}

.tasks__button {
  width: 30px;
  height: 30px;
  background: hsl(120, 100%, 30%);
  border: none;
  color: white;
}

.tasks__button:hover {
  background: hsl(120, 100%, 35%);
}

.tasks__button:active {
  background: hsl(120, 100%, 40%);
}

.tasks__button--remove {
  background: hsl(0, 100%, 45%);
}

.tasks__button--remove:hover {
  background: hsl(0, 100%, 50%);
}

.tasks__button--remove:active {
  background: hsl(0, 100%, 55%);
}
